body {
    position: relative;
    box-sizing: border-box;
}

.wrap-head{
  position: absolute;
  top: 0;
  left: 16%;
  font-size: 17px;
  padding-top: 12px;
  padding-left: 3px;
  margin-bottom: 16px;
  z-index: 1;
}

.wrap-head p{
  color: black;
  display: inline-block;
}

.wrap-head span{
  color: rgb(202, 191, 191);
}

.wrap-head a{
  color: black;
  text-decoration: none;
  transition: all .3s;
}

.wrap-head a:hover{
  text-decoration: none;
  color: rgb(106, 6, 199)
}
  
.wrap-container{
    position: absolute;
    top: 10%;
    left: 20%;
    padding: 15px 35px;
    display: flex;
}

.form-1{
  transform: translate(70px, 40px);
}

.wrap-avatar{
  width: 350px;
  height: 350px;
  clip-path: circle(50% at 50% 50%);
}

.avatar{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.file-input{
  margin-left: 50px;
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
}

.wrap-submit-1{
  margin-left: 60px;
  margin-top: 10px;
}

.submit{
  padding: 8px 20px;
  border: 1px solid blueviolet;
  border-radius: 5px;
  background-color: blueviolet;
  color: #fff;
}

.form-2{
  transform: translate(50%, 14%);
  background-color: #fff;
  padding: 40px;
  height: 50%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.wrap{
  display: flex;
  margin-bottom: 20px;
}

.wrap-label{
  width: 50%;
  margin-right: 14px;
  margin-top: 6px;
  font-size: 14px;
}

.wrap-input{
  border: 1px solid burlywood;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
}

.success-mess{
  margin-left: 60px;
  width: 70%;
}

.error-mess{
  width: 70%;
  margin-left: 60px;
  font-size: 14px;
}

#mess-different{
  font-size: 14px;
}