* {
    font-family: sans-serif; 
    position: relative;
    box-sizing: border-box;
  }
  
.wrap{
    position: absolute;
    top: 10%;
    left: 14%;
}

.active-forum {
  background-color: #ea1d63;
}