.active{
    color: #fff !important;
}

.wrap{
    position: absolute;
    top: 0;
    left: 16%;
    font-size: 17px;
    padding-top: 12px;
}

.wrap p{
    color: black;
    display: inline-block;
}

.wrap span{
    color: rgb(202, 191, 191);
}

.wrap a{
    color: black;
    text-decoration: none;
    transition: all .3s;
}

.wrap a:hover{
    text-decoration: none;
    color: rgb(106, 6, 199)
}

.row{
    display: flex;
    height: fit-content;
    margin-top: 100px;
    padding-left: 10px;
}

.row2, .row3{
    margin-top: 50px;
}

.column{
    text-decoration: none;
    height: 160px;
    width: 18%;
    margin-right: 50px;
    transform: translateX(90%);
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 14px;
}

.column:hover, .column:visited, .column:active{
    color: #fff;
}

.column:hover::after{
    height: 20%;
    transform: translateY(-5px);
}

.column::after{
    position: absolute;
    top: 84%;
    left: 0;
    width: 100%;
    height: 16%;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    text-align: center;
    transition: all .25s;
}


/* ---------------COL---------------------- */
.col-local{
    background-color: rgb(122, 77, 226);
}

.col-local::after{
    content: "Kết nối cựu sinh viên \21FE";
    background-color: rgb(90, 55, 172);
}

.col-view{
    background-color: rgb(243, 171, 39);
}

.col-view::after{
    content: "Thông tin cựu sinh viên \21FE";
    background-color: rgb(201, 139, 25);
}

.col-forum{
    background-color: rgb(185, 169, 169);
}

.col-forum::after{
    content: "Diễn đàn \21FE";
    background-color: rgb(182, 123, 132);
}

.col-chat{
    background-color: rgb(187, 71, 71);
}

.col-chat::after{
    content: "Chat \21FE";
    background-color: rgb(173, 48, 48);
}

.col-statis{
    background-color: rgb(190, 156, 110);
}

.col-statis::after{
    content: "Thống kê \21FE";
    background-color: rgb(163, 131, 87);
}

.col-feedback{
    background-color: rgb(107, 104, 104);
}

.col-feedback::after{
    content: "Báo cáo \21FE";
    background-color: rgb(85, 82, 82);
}

.col-contact{
    background-color: rgb(243, 46, 46);
}

.col-contact::after{
    content: "Liên hệ \21FE";
    background-color: rgb(230, 21, 21);
}

.col-donate{
    background-color: rgb(190, 20, 190);
}

.col-donate::after{
    content: "Ủng hộ \21FE";
    background-color: rgb(151, 17, 151);
}



/* ------------------COL-ICON------------------- */
.content{
    position: absolute;
    top: 25%;
    left: 6%;
    font-size: 16px;
}

.col-icon{
    position: absolute;
    top: 16%;
    right: 5%;
    padding: 20px;
    border-radius: 50%;
    font-size: 20px !important;
    transition: all .1s;
}

.col-icon-local{
    background-color: rgba(90, 55, 172, 0.25);
}

.col-icon-view{
    background-color: rgba(201, 139, 25, 0.25);
    right: 3%;
}

.col-icon-forum{
    background-color: rgba(161, 103, 112, 0.25);
}

.col-icon-chat{
    background-color: rgba(173, 48, 48, 0.4);
}

.col-icon-statis{
    background-color: rgba(163, 131, 87, 0.8);
}

.col-icon-feedback{
    background-color: rgba(85, 82, 82, 0.4);
}

.col-icon-contact{
    background-color: rgba(230, 21, 21, 0.55);
}

.col-icon-donate{
    background-color: rgba(151, 17, 151, 0.35);
}


/* ----------------- */
.columns{
    margin-left: 275px;
    margin-top: 120px;
    margin-bottom: 140px;
}


/* ------------------- */
.honors{
    width: 80%;
    margin-left: 270px;
    margin-bottom: 160px;
    margin-top: 160px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    height: fit-content;
    padding: 50px;
    padding-bottom: 80px;
    padding-left: 60px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
}

.honors h1{
    margin-bottom: 50px;
    text-transform: uppercase;
}

.slider{
    height: 90%;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.slide{
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.card-box h3{
    margin-top: 20px;
    font-size: 25px;
}

.card-box p{
    color: gray;
    font-size: 14px;
}

.card-box{
    width: 100%;
    height: 300px;
    padding: 20px;
    margin-right: 25px;
    position: relative;
    z-index: 10;
    cursor: pointer;
    transition: all .25s;
}

.card-box::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    text-align: center;
    overflow: hidden;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: #eaeafa;
    z-index: -10;
}

.card-box:hover{
    transform: scale(1.1);
}

.label1{
    position: absolute;
    top: 83.5%;
    left: 43.5%;
    color: white;
    font-size: 20px;
    z-index: 100;
}

.box1{
    background-color: rgb(94, 94, 233);
}

.box1::after{
    border-top: 3.5px solid rgb(94, 94, 233);
}

.box2{
    background-color: rgb(61, 153, 61);
}

.box2::after{
    border-top: 3.5px solid rgb(61, 153, 61);
}

.box3{
    background-color: rgb(219, 17, 219);
}

.box3::after{
    border-top: 3.5px solid rgb(219, 17, 219);
}

.box4{
    background-color: rgb(238, 172, 50);
}

.box4::after{
    border-top: 3.5px solid rgb(238, 172, 50);
}

.box5{
    background-color: rgb(155, 148, 148);
}

.box5::after{
    border-top: 3.5px solid rgb(155, 148, 148);
}

.box6{
    background-color: rgb(245, 50, 50);
}

.box6::after{
    border-top: 3.5px solid rgb(245, 50, 50);
}

.box7{
    background-color: rgb(119, 56, 56);
}

.box7::after{
    border-top: 3.5px solid rgb(119, 56, 56);
}

.box8{
    background-color: rgb(190, 156, 110);
}

.box8::after{
    border-top: 3.5px solid rgb(190, 156, 110);
}

.card-image{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.wrap-slide{
    margin-top: 20px;
    transform: translateX(-12px);
}

.link-slide{
    height: 18px;
    width: 18px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.link-slide:hover {
    background-color: #717171;
}