*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    min-height: 100vh;
    background-color: #f4f4fb;
    overflow-x: hidden;
}

/*.----------------------.*/
header {
    position: fixed;
    width: 226px;
    height: 55px;
    top: 0;
    left: 0;
    background-color: #2b2f3a;
    color: #f4f4fb;
    z-index: 2;
    transition: all .4s;
}

.header{
    background-color: white;
    width: 100%;
    height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 8px;
    padding-right: 35px;
}

.profile {
    float: right;
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h4{
    transform: translate(46px, 17.5px);
    font-size: 18px;
    white-space: nowrap;
    transition: all 1s;
}

.profile-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    transform: translateX(20px);
}

.item >i {
    padding-right: 10px;
}
.xy >a:hover {
    background: rgb(109, 105, 105);
    color: #fff;
}
.xy >a:active {
    background: rgb(109, 105, 105);
}

.xy{
   left: 2px !important;
}

.item{
    font-size: 15px;
}

.abc {
    margin-left: 25px;
    background: #71757a;
    border: none;
    color: #fff;
}


.side-toggle {
    position: fixed;
    z-index: 2;
    top: 13px;
    left: 21px;
    float: right;
    font-size: 20px;
    color: #f4f4fb;
    cursor: pointer;
}

/*---------------- */
nav {
  float: left;
  width: 15%; 
}

section::after {
    content: "";
    display: table;
    clear: both;
}

.navigation {
    position: fixed;
    width: 226px;
    height: 100%;
    background-color: #304156;
    transition: width .4s;
}

#toggle:checked ~ .navigation {
    width: 55px;
}


.navigation  ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* padding-left: 5px; */
    padding-top: 32px;
}
.navigation  ul li {
    position: relative;
    list-style: none;
    width: 100%;
    transition: all .3s;
}
.navigation ul li:hover {
    background: rgb(38, 52, 69);
}

.navigation  ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.navigation  ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: rgb(191, 203, 217);
}

.navigation  ul li a .icon .fa {
    font-size: 20px;
}
.navigation  ul li a .title {
    position: relative;
    display: block;
    padding: 0px 3px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    transform: translate(-8px, -1.5px);
    font-size: 16px;
    color: rgb(191, 203, 217);
    transition: all .5s;
}
/* .----------------------. */
