body {
    position: relative;
    box-sizing: border-box;
}

.wrap-head{
    position: absolute;
    top: 0;
    left: 16%;
    font-size: 17px;
    padding-top: 12px;
    padding-left: 3px;
    margin-bottom: 16px;
    z-index: 1;
  }
  
.wrap-head p{
    color: black;
    display: inline-block;
}

.wrap-head span{
    color: rgb(202, 191, 191);
}

.wrap-head a{
    color: black;
    text-decoration: none;
    transition: all .3s;
}
  
.wrap-head a:hover{
    text-decoration: none;
    color: rgb(106, 6, 199)
}
  
.form{
    position: absolute;
    top: 10%;
    left: 30%;
    display: flex;
}

.column1, .column2{
    margin-right: 100px;
}

.wrap{
    margin-bottom: 30px;
}

.error-message{
    display: block;
    color: red;
    margin-top: 7px;
    margin-left: 1.6px;
}

.wrap-label{
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
}

.wrap-content{
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 3px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

input[type=date]{
    width: 100%;
}

.wrap-submit{
    position: absolute;
    top: 100%;
}

.submit{
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: chocolate;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
}

.active-add {
    color: #fff !important;
  }

