* {
    font-family: sans-serif; 
    position: relative;
    box-sizing: border-box;
  }

h1{
    position: absolute;
    top: 7%;
    left: 25%;
    color: rgb(116, 175, 28);
}  
  
.form{
    position: absolute;
    top: 15%;
    left: 25%;
    display: flex;
}

.column1, .column2{
    margin-right: 100px;
}

.wrap{
    margin-bottom: 30px;
}

.error-message{
    display: block;
    color: red;
    margin-top: 7px;
    margin-left: 1.6px;
}

.wrap-label{
    font-size: 20px;
    display: block;
    margin-bottom: 15px;
}

.wrap-content{
    padding: 7px 15px;
    font-size: 18px;
    border-radius: 3px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

input[type=date]{
    width: 100%;
}

.wrap-submit{
    position: absolute;
    top: 100%;
}

.submit{
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: chocolate;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    color: white;
}

.active-add {
    background-color: #ea1d63;
}
