body {
    position: relative;
    box-sizing: border-box;
    overflow: scroll;
}

.wrap-head{
    position: absolute;
    top: 0;
    left: 16%;
    font-size: 17px;
    padding-top: 12px;
    padding-left: 3px;
    margin-bottom: 16px;
}

.wrap-head p{
    color: black;
    display: inline-block;
}

.wrap-head span{
    color: rgb(202, 191, 191);
}

.wrap-head a{
    color: black;
    text-decoration: none;
    transition: all .3s;
}

.wrap-head a:hover{
    text-decoration: none;
    color: rgb(106, 6, 199)
}
  
.wrap{
    margin-top: 50px;
    margin-left: 235px;
    margin-bottom: 40px;
}

h1{
    text-align: left;
    font-size: 40px;
    color: rgb(116, 175, 28);
}

.line{
    border: none;
    height: 1px;
    background-color: #46f7d3;
    margin-bottom: 40px;
    margin-top: 40px;
}

.content-table {
    border-collapse: collapse;
    font-size: 14px;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 14px 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.content-table th:last-child,
.content-table td:last-child {
    width: 210px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


.tools form{
    display: inline-block;
}

a{
    text-decoration: none;
}

.link-id:visited{
    color: blue;
}

.tools-link{
    background-color: rgb(161, 111, 18);
    margin-right: 10px;
    color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}

.tools-link-edit{
    background-color: rgb(241, 180, 64);
}

.tools-link-delete{
    border: none;
    font-size: 14x;
    width: 65px;
    height: 32px;
    background-color: brown;
    cursor: pointer;
}

.tools-link:hover{
    text-decoration: none;
    color: black;
}

.add{
    margin-bottom: 20px;
}

.head-link{
    font-size: 16px;
}

.excel{
    float: right;
    background-color: rgb(18, 168, 18);
}

.clearfix{
    clear: both;
}

.active-view {
    color: #fff !important;
}


/* -------------------------------- */
.input-search{
    padding: 2px 5px;
    border-radius: 2px;
    border: 1px solid black;
}

.search-id{
    width: 80px;
}

.search-name{
    width: 140px;
}

.search-email{
    width: 170px;
}

.search-sex{
    width: 50px;
}

.search-birth{
    width: 90px;
}

.search-phone{
    width: 90px;
}

.search-address{
    width: 90px;
}

.search-job{
    width: 100px;
}

.wrap-input{
    border: none;
    background-color: transparent;
    text-align: center;
    padding: 5px 0;
}

.wrap-input:focus{
    border: 1px solid black;
    background-color: #fff;
}

.input-id{
    width: 80px;
}

.input-name{
    width: 140px;
}

.input-email{
    width: 170px;
}

.input-sex{
    width: 50px;
}

.input-birth{
    width: 90px;
}

.input-phone{
    width: 90px;
}

.input-address{
    width: 90px;
}

.input-job{
    width: 100px;
}

