.body{
    overflow: scroll;
}

.active {
    background-color: #806cee;
}

.wrap{
    position: absolute;
    top: 10%;
    left: 29.7%;
    width: 54%;
}

.wrap h1{
    color: chocolate;
    font-size: 50px;
}

.line{
    border: 1px solid #46f7d3;
    margin-bottom: 50px;
    margin-top: 50px;
}

.row{
    display: flex;
    height: fit-content;
    margin-top: 250px;
}

.column{
    text-decoration: none;
    height: 200px;
    width: 25%;
    margin-right: 60px;
    transform: translateX(120%);
    border-radius: 5px;
    color: #fff;
    border: none;
}

.column:hover, .column:visited, .column:active{
    color: #fff;
}

.column:hover::after{
    height: 20%;
    transform: translateY(-9px);
}

.column::after{
    position: absolute;
    top: 84%;
    left: 0;
    width: 100%;
    height: 16%;
    border-radius: 3px;
    border: none;
    font-size: 18px;
    text-align: center;
    transition: all .25s;
}

.col-view{
    background-color: rgb(243, 171, 39);
}

.col-view::after{
    content: "Xem thông tin \21FE";
    background-color: rgb(201, 139, 25);
}

.col-forum{
    background-color: rgb(235, 159, 171);
}

.col-forum::after{
    content: "Diễn đàn \21FE";
    background-color: rgb(194, 119, 131);
}

.content{
    position: absolute;
    top: 25%;
    left: 7%;
    font-size: 18px;
}

.col-icon{
    position: absolute;
    top: 16%;
    right: 5%;
    padding: 28px;
    border-radius: 50%;
    font-size: 28px !important;
    transition: all .1s;
}

.col-icon-view{
    background-color: rgba(201, 139, 25, 0.25);
}

.col-icon-forum{
    background-color: rgba(194, 119, 131, 0.25);
}

.columns{
    position: absolute;
    top: 20%;
    left: 20%;
}