.body{
    overflow: scroll;
}

.active {
    color: #fff !important;
}

.wrap{
    position: absolute;
    top: 0;
    left: 16%;
    font-size: 17px;
    padding-top: 12px;
}

.wrap p{
    color: black;
    display: inline-block;
}

.wrap span{
    color: rgb(202, 191, 191);
}

.wrap a{
    color: black;
    text-decoration: none;
    transition: all .3s;
}

.wrap a:hover{
    text-decoration: none;
    color: rgb(106, 6, 199)
}

.row{
    display: flex;
    height: fit-content;
    margin-top: 100px;
    padding-left: 10px;
}

.row2{
    margin-top: 50px;
}

.column{
    text-decoration: none;
    height: 160px;
    width: 18%;
    margin-right: 50px;
    transform: translateX(90%);
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 14px;
}

.column:hover, .column:visited, .column:active{
    color: #fff;
}

.column:hover::after{
    height: 20%;
    transform: translateY(-6px);
}

.column::after{
    position: absolute;
    top: 84%;
    left: 0;
    width: 100%;
    height: 16%;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    text-align: center;
    transition: all .25s;
}


/* ----------COL-------------------- */
.col-view{
    background-color: rgb(243, 171, 39);
}

.col-view::after{
    content: "Thông tin cá nhân \21FE";
    background-color: rgb(201, 139, 25);
}

.col-forum{
    background-color: rgb(235, 159, 171);
}

.col-forum::after{
    content: "Diễn đàn \21FE";
    background-color: rgb(194, 119, 131);
}

.col-chat{
    background-color: rgb(187, 71, 71);
}

.col-chat::after{
    content: "Chat \21FE";
    background-color: rgb(173, 48, 48);
}

.col-feedback{
    background-color: rgb(107, 104, 104);
}

.col-feedback::after{
    content: "Báo cáo \21FE";
    background-color: rgb(85, 82, 82);
}

.col-contact{
    background-color: rgb(243, 46, 46);
}

.col-contact::after{
    content: "Thông báo \21FE";
    background-color: rgb(230, 21, 21);
}

.col-donate{
    background-color: rgb(190, 20, 190);
}

.col-donate::after{
    content: "Ủng hộ \21FE";
    background-color: rgb(151, 17, 151);
}


.content{
    position: absolute;
    top: 25%;
    left: 7%;
    font-size: 18px;
}


/* ------------COL-ICON---------------- */
.col-icon{
    position: absolute;
    top: 16%;
    right: 5%;
    padding: 22px;
    border-radius: 50%;
    font-size: 20px !important;
    transition: all .1s;
}

.col-icon-view{
    background-color: rgba(201, 139, 25, 0.25);
}

.col-icon-forum{
    background-color: rgba(194, 119, 131, 0.25);
}

.col-icon-chat{
    background-color: rgba(173, 48, 48, 0.4);
}

.col-icon-feedback{
    background-color: rgba(85, 82, 82, 0.4);
}

.col-icon-contact{
    background-color: rgba(230, 21, 21, 0.55);
}

.col-icon-donate{
    background-color: rgba(151, 17, 151, 0.35);
}

/*  */
.columns{
    position: absolute;
    top: 20%;
    left: 20%;
}


/* ------------------- */
.honors{
    width: 80%;
    margin-left: 270px;
    margin-bottom: 160px;
    margin-top: 160px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    height: fit-content;
    padding: 50px;
    padding-bottom: 80px;
    padding-left: 60px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
}

.honors h1{
    margin-bottom: 50px;
    text-transform: uppercase;
}

.honors-card{
    display: flex;
}

.card-box h3{
    margin-top: 20px;
    font-size: 25px;
}

.card-box p{
    color: gray;
    font-size: 14px;
}

.card-box{
    width: 100%;
    height: 300px;
    padding: 20px;
    margin-right: 25px;
    position: relative;
    z-index: 10;
    cursor: pointer;
    transition: all .25s;
}

.card-box::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    text-align: center;
    overflow: hidden;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: #eaeafa;
    z-index: -10;
}

.card-box:hover{
    transform: scale(1.1);
}

.label1{
    position: absolute;
    top: 83.5%;
    left: 43.5%;
    color: white;
    font-size: 20px;
    z-index: 100;
}

.box1{
    background-color: rgb(94, 94, 233);
}

.box1::after{
    border-top: 3.5px solid rgb(94, 94, 233);
}

.box2{
    background-color: rgb(61, 153, 61);
}

.box2::after{
    border-top: 3.5px solid rgb(61, 153, 61);
}

.box3{
    background-color: rgb(219, 17, 219);
}

.box3::after{
    border-top: 3.5px solid rgb(219, 17, 219);
}

.box4{
    background-color: rgb(238, 172, 50);
}

.box4::after{
    border-top: 3.5px solid rgb(238, 172, 50);
}

.card-image{
    width: 100px;
    height: 100px;
    object-fit: cover;
}