body{
    position: relative;
    box-sizing: border-box;
  }
  
  .wrap-head{
    position: absolute;
    top: 0;
    left: 16%;
    font-size: 17px;
    padding-top: 12px;
    padding-left: 3px;
    margin-bottom: 16px;
    z-index: 1;
  }
  
  .wrap-head p{
    color: black;
    display: inline-block;
  }
  
  .wrap-head span{
    color: rgb(202, 191, 191);
  }
  
  .wrap-head a{
    color: black;
    text-decoration: none;
    transition: all .3s;
  }
  
  .wrap-head a:hover{
    text-decoration: none;
    color: rgb(106, 6, 199)
  }
  
  .wrap{
    margin-top: 50px;
    margin-left: 300px;
  }

.wrap h1{
  transform: translateX(-50px);
  margin-bottom: 40px;
}

.image{
  width: 100px;
  border-radius: 50%;
}  
 
.list {
  list-style-type: none;
  width: 800px;
}
 
.list-child h3 {
  font-size: 25px;
}
 
.list-child .left {
  float: left;
  margin: 0 20px 0 0;
  text-align: center;
}
 
.list-child p {
  font-size: 17px;
  margin-top: 10px;
}

.left p{
  font-size: 15px;
}
 
.list-child {
  padding: 10px;
  overflow: auto;
  transition: all .15s;
}
 
.list-child:hover {
  background: #eee;
  cursor: pointer;
}
  
.active-feedback {
  color: #fff !important;
}
  