body{
    position: relative;
    box-sizing: border-box;
  }
  
  .wrap-head{
    position: absolute;
    top: 0;
    left: 16%;
    font-size: 17px;
    padding-top: 12px;
    padding-left: 3px;
    margin-bottom: 16px;
    z-index: 1;
  }
  
  .wrap-head p{
    color: black;
    display: inline-block;
  }
  
  .wrap-head span{
    color: rgb(202, 191, 191);
  }
  
  .wrap-head a{
    color: black;
    text-decoration: none;
    transition: all .3s;
  }
  
  .wrap-head a:hover{
    text-decoration: none;
    color: rgb(106, 6, 199)
  }
  
  .wrap{
    margin-top: 40px;
    margin-left: 300px;
  }

.wrap h1{
  transform: translateX(-20px);
  margin-bottom: 30px;
  font-size: 35px;
}

.wrap-avatar{
  width: 50px;
  height: 50px;
  clip-path: circle(50% at 50% 50%);
  transform: translate(27px);
}

.avatar{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.list {
  list-style-type: none;
  width: 800px;
}
 
.list-child h3 {
  font-size: 20px;
}
 
.list-child .left {
  float: left;
  margin: 0 20px 0 0;
  text-align: center;
}
 
.list-child p {
  font-size: 14px;
  margin-top: 10px;
}

.left p{
  font-size: 13px;
}
 
.list-child {
  padding: 10px;
  overflow: auto;
  background: #eee;
  margin-bottom: 5px;
}

.link{
  border: none;
  position: absolute;
  top: 19.5%;
  left: 70.5%;
  font-size: 18px;
}

.link:focus{
  outline: none;
}
  
.active-feedback {
  color: #fff !important;
}
  