.wrap-head{
    position: absolute;
    top: 0;
    left: 16%;
    font-size: 17px;
    padding-top: 12px;
    padding-left: 3px;
    margin-bottom: 16px;
    z-index: 1;
  }
  
  .wrap-head p{
    color: black;
    display: inline-block;
  }
  
  .wrap-head span{
    color: rgb(202, 191, 191);
  }
  
  .wrap-head a{
    color: black;
    text-decoration: none;
    transition: all .3s;
  }
  
  .wrap-head a:hover{
    text-decoration: none;
    color: rgb(106, 6, 199)
  }



/* ----------------- */
.select{
    margin-top: 50px;
    margin-left: 275px;
}

.columns{
    margin-left: 275px;
    margin-top: 25px;
    margin-bottom: 160px;
}

.button{
    margin-right: 10px;
}

.active-statis{
    color: #fff !important;
}