body{
    box-sizing: border-box;
}

.wrap-head{
    position: absolute;
    top: 0;
    left: 16%;
    font-size: 17px;
    padding-top: 12px;
    padding-left: 3px;
    margin-bottom: 16px;
}

.wrap-head p{
    color: black;
    display: inline-block;
}

.wrap-head span{
    color: rgb(202, 191, 191);
}

.wrap-head a{
    color: black;
    text-decoration: none;
    transition: all .3s;
}

.wrap-head a:hover{
    text-decoration: none;
    color: rgb(106, 6, 199)
}
  
.wrap{
    margin-top: 70px;
    margin-left: 245px;
}

.content-table {
    border-collapse: collapse;
    font-size: 15px;
    /* min-width: 400px; */
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    clear: both;
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 15px 10px;
    width: 157px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

a{
    text-decoration: none;
}

.link-id:visited{
    color: blue;
}

.tools-link{
    background-color: red;
    margin-right: 10px;
    color: white;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
}

.tools-link-edit{
    background-color: blue;
}

.tools-link-delete{
    border: none;
    font-size: 18px;
    background-color: brown;
    cursor: pointer;
}

.tools-link:hover{
    text-decoration: none;
    color: black;
}

.back-to-view{
    margin-bottom: 25px;
}

.btn-view{
    color: black;
    background-color:#A9A9A9;
    padding: 10px 8px;
    border-radius: 5px;
    font-size: 15px;
}

.btn-view:hover,
.btn-view:active{
    text-decoration: none;
    color: brown;
}

.active-view {
    color: #fff !important;
}
